# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.env*/
.venv*/

# VS Code settings
.vscode/

# Conda environments (never commit)
*/env/
*.conda
conda-meta/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Local environment files
*.env